# --- Build & Salidas ---
build/
out/
bin/
lib/
uploads/

# --- CMake ---
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
compile_commands.json
*.cmake
!vcpkg.cmake

CLAUDE.md

# --- Vcpkg (CRÍTICO) ---
# Ignora las librerías descargadas/compiladas
vcpkg_installed/
# Por si clonaste vcpkg dentro del proyecto (aunque lo tienes fuera)
vcpkg/

# --- Binarios y Objetos ---
*.exe
*.dll
*.so
*.dylib
*.a
*.o
*.obj
AUDITORIA.MD

# --- Tu Ejecutable ---
mi_backend

# --- IDEs y Sistema ---
.vscode/
.idea/
.DS_Store
Thumbs.db
*.swp
*.log

# --- Claves y Secretos (CRÍTICO) ---
*.json
!vcpkg.json  # Excepción: Queremos guardar la config de dependencias
service-account.json
*.pem
*.key
